
.*
!.gitignore
!.valalintignore
!.editorconfig
!.github/
!.github/workflows/
!.github/workflows/*.yml
~*
*~
builddir
build
build-*
dist-*
.sqgipkg/
repo
deploy
subprojects/**/
subprojects/*.wrap
!subprojects/
!subprojects/packagefiles/
!subprojects/packagefiles/*.patch
!subprojects/granite.wrap
!subprojects/json-glib.wrap
!subprojects/libgee.wrap
!subprojects/granite-stylesheet.wrap
.pixiewood
_build
apks/
